
:root {
    --squareBasis: 50%;
}

body{
    text-align: center;
}

.canvas{
    border: 1px solid black;
    height: 75vh;
    aspect-ratio: 1 / 1;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    margin: 0px;
    flex-basis: var(--squareBasis);
    aspect-ratio: 1 / 1;
}

.controls {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}